atomicwrites==1.4.0
attrs==21.2.0
backports.functools-lru-cache==1.6.4
blessings==1.7
bpython==0.20.1
certifi==2021.5.30
chardet==4.0.0
configparser==4.0.2
contextlib2==0.6.0.post1
curtsies==0.3.4
decorator==4.4.2
funcsigs==1.0.2
greenlet==1.1.0
idna==2.10
importlib-metadata==2.1.1
more-itertools==5.0.0
packaging==20.9
pathlib2==2.3.5
pluggy==0.13.1
py==1.10.0
Pygments==2.7.4
pyparsing==2.4.7
pytest==4.6.11
requests==2.25.1
scandir==1.10.0
six==1.16.0
typing==3.10.0.0
urllib3==1.26.6
wcwidth==0.2.5
zipp==1.2.0
